@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card img {
  /* width: 300px; Set fixed width */
  height: 400px; /* Set fixed height */
  object-fit: cover;
}

.custom-card {
  height: 600px;
}
